<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilo remaster.css">
</head>
<body background="platano.jpg">
<body>
	<div class="header">
		<h1><a href="https://www.youtube.com/user/vegetta777"><img src="mine.jpg" style="" width="700"></a> </h1>
		<p>Como la <a href="https://minecraft-es.gamepedia.com/Minecraft_Wiki">wiki </a> platano<a href="https://www.youtube.com/watch?v=OTlVmfO_j0Q">8)</a></p>
	</div>
	<div class="menu">
		<a href="https://minecraft-es.gamepedia.com/Objetos">Materiales</a>
		<a href="https://minecraft-es.gamepedia.com/Criaturas">Criaturas</a>
		<a href="https://www.youtube.com/watch?v=F768wOp4Dls">Redstone</a>
		<a href="http://bedrockwoman.blogspot.com/2016/06/todos-los-crafteos-de-minecraft-110.html">Crafteos</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h1><a href="https://minecraft.net/es-es/">Descarga lol</a></h1>
				<h3>Qué es lol?<br>lol es un juego de acción conocido como el predecesor a fortnite y a todos los battleroyales existentes.<br>También es conocido como el mejor juego jamas creado, con calificación perfecta en<a href="https://latam.ign.com/"> IGN.</a></h3>
				<a href="https://www.youtube.com/watch?v=MJUKaOAmxS0"><img src="platano.jpg" alt="" class="imagen"></a> 
			</div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>*Imagen del platano*</h2>
				<a href="https://www.youtube.com/watch?v=Aci3eaQjN_g"> <img src="platano.jpg" alt="" width="100px"></a>
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>